################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OdataRestAPI/bin/Debug/net7.0
/OdataRestAPI/obj
/OdataRestAPI/.vs/OdataRestAPI
